body {
    background: pink
}

#paragraph1 {
    font-family: Monda;
    color:black;
    font-size: 1rem
}

#paragraph2 {
    font-family: Monda;
    color:black;
    font-size: 1rem
}
div{
    float:left;
    font-size:30px;
    color:black;
    text-align: left;
        width:30%;
            padding:10px;
            border-style: solid;
            border-color: gold;
            border-width: 10px;
            margin: 3em;
}
